* {
  box-sizing: border-box;
}
html {
  font-family: "Helvetica Neue", "Open Sans";
}
body {
  margin: 0;
  overflow-x: hidden;
}
.flex {
  display: flex;
  align-items: center;
}

.flex.fill {
  height: 100%;
}

.flex.center {
  justify-content: center;
}
